@{
    ViewData["Title"] = "Adopt";
}

<link rel="stylesheet" href="~/css/details.css">
<div class="container">
    <div class="row">
        <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">@this.Model.Name</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center">
                            @{
                                var imgSrc = this.Model.Image != null ? ImageExtensions.ByteArrayToImage(this.Model.Image) : WebConstants.DefaultCatPath;
                            }
                            <img alt="@this.Model.Name photo" src="@imgSrc" class="img-fluid img-thumbnail img-circle">
                        </div>
                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td>Age:</td>
                                        <td>@this.Model.Age</td>
                                    </tr>
                                    <tr>
                                        <td>Description:</td>
                                        <td>@this.Model.Description</td>
                                    </tr>
                                    <tr>
                                        <td>Gender:</td>
                                        <td>@this.Model.Gender.ToString()</td>
                                    </tr>
                                    <tr>
                                        <td>Location:</td>
                                        <td>@this.Model.Location</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a asp-controller="Users" asp-action="Profile" asp-route-username="@this.Model.Owner" class="btn btn-outline-success">Owner</a>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                     @if (this.User.Identity.IsAuthenticated && this.Model.IsRequested == false)
                     {
                         <a asp-area="" asp-controller="Cats" asp-action="Request" asp-route-id="@this.Model.Id" data-original-title="Request Adoption" data-toggle="tooltip" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-heart"></i></a>
                     }
                     <span class="pull-right">
                         @if ((this.User.Identity.IsAuthenticated || 
                             this.Model.Owner == User.Identity.Name) ||
                            this.User.IsInRole(WebConstants.AdministratorRole))
                         {
                            <a asp-area="Volunteer" asp-controller="Cats" asp-action="Edit" asp-route-id="@this.Model.Id" data-original-title="Edit" data-toggle="tooltip" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-edit"></i></a>
                            <a asp-area="Volunteer" asp-controller="Cats" asp-action="Delete" asp-route-id="@this.Model.Id" data-original-title="Remove" data-toggle="tooltip" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-remove"></i></a>
                         }
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>