
@{
    ViewData["Title"] = "Request";
}

<h2>Request</h2>

<h6>@this.Model.Name</h6>
<h6>@this.Model.Age</h6>
<h6>@this.Model.ImageUrl</h6>
<h6>@this.Model.Description</h6>
<h6>@this.Model.Location</h6>
<h6>@this.Model.Gender</h6>

@if (!this.Model.IsAdopted)
{
    <a class="btn btn-secondary" asp-action="Request">Request</a>
}
else
{
  <h6>this kitty is already adopted or someone else liked it</h6>
}