@{
    ViewData["Title"] = "Profile";
}       

<link rel="stylesheet" href="~/css/details.css">
<div class="container">
    <div class="row">
        <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">@this.Model.Name</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center">
                            @{
                                var imgSrc = this.Model.ProfilePhoto != null ? ImageConvertions.ByteArrayToImage(this.Model.ProfilePhoto) : WebConstants.DefaultProfilePhotoPath;
                            }
                            <img alt="@this.Model.UserName photo" src="@imgSrc" class="img-fluid img-thumbnail img-circle">
                        </div>
                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td>Username:</td>
                                        <td>@this.Model.UserName</td>
                                    </tr>
                                    <tr>
                                        <td>Role:</td>
                                        <td>@this.Model.UserRole</td>
                                    </tr>
                                    <tr>
                                        <td>Date of Birth:</td>
                                        <td>@this.Model.Birthdate.ToShortDateString()</td>
                                    </tr>
                                    <tr>
                                    <tr>
                                        <td>Gender:</td>
                                        <td>@this.Model.Gender</td>
                                    </tr>
                                    <tr>
                                        <td>Email:</td>
                                        <td><a href="mailto:@this.Model.Email">@this.Model.Email</a></td>
                                    </tr>
                                </tbody>
                            </table>
                            <a asp-controller="Users" asp-action="HomeCats" asp-route-username="@this.Model.UserName" class="btn btn-outline-success">Home cats</a>
                            <a asp-controller="Users" asp-action="AdoptedCats" asp-route-username="@this.Model.UserName" class="btn btn-outline-success">Adopted cats</a>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <!--todo - adoption cats-->
                    <a data-original-title="Broadcast Message" data-toggle="tooltip" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-envelope"></i></a>
                    <span class="pull-right">
                        @if (this.Model.UserName == User.Identity.Name ||
                               this.User.IsInRole(WebConstants.AdministratorRole))
                        {
                            <!--todo - edit user - add route-->
                            <a asp-controller="Manage" asp-action="Index" data-original-title="Edit this user" data-toggle="tooltip" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-edit"></i></a>
                            <a asp-controller="Users" asp-action="Delete" asp-route-username="@this.Model.UserName" data-original-title="Remove this user" data-toggle="tooltip" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-remove"></i></a>
                        }
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>